NODE_ENV=development
SERVER_PORT=5005
MONGODB_URI=mongodb://127.0.0.1:27017/payment_service
KAFKA_BROKERS=127.0.0.1:9092
KAFKA_CLIENT_ID=payment-service
KAFKA_CONSUMER_GROUP=payment-service-group
ORDER_TOPIC=order
PAYMENT_TOPIC=payment
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxx

