node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.git
.gitignore

.env
.env.*
.env.local
.env.local.*
.env.development.*
.env.development
.env.production.*
.env.production

dist
build
out
coverage

logs
*.log

.cache
.tmp
temp

.vscode
.idea

Dockerfile
docker-compose.yml
compose.yml

*.md
