services:
#   kong-db:
#     image: postgres:13
#     environment:
#       POSTGRES_USER: kong
#       POSTGRES_DB: kong
#       POSTGRES_PASSWORD: kong
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U kong"]
#       interval: 5s
#       timeout: 5s
#       retries: 5
#     ports:
#       - "5432:5432"

  kong:
   image: kong:3.1
   container_name : "kong-api-gateway"
   environment:
    KONG_DATABASE: "off"
    KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
    # KONG_DATABASE: postgres
    # KONG_PG_HOST: kong-db
    # KONG_PG_PASSWORD: kong
    KONG_PROXY_ACCESS_LOG: /dev/stdout
    KONG_ADMIN_ACCESS_LOG: /dev/stdout
    KONG_PROXY_ERROR_LOG: /dev/stderr
    KONG_ADMIN_ERROR_LOG: /dev/stderr
    KONG_ADMIN_LISTEN: 0.0.0.0:8001
    KONG_NGINX_HTTP_LOG_FORMAT: |
     main '$$remote_addr - $$remote_user [$$time_local] "$$request" $$status $$body_bytes_sent "$$http_referer" "$$http_user_agent" upstream:$$upstream_addr upstream_status:$$upstream_status upstream_response_time:$$upstream_response_time'
   ports:
    - "8000:8000"
    - "8001:8001"
  #  depends_on:
  #   kong-db:
  #     condition: service_healthy
   volumes:
   - ./kong-manifest.yml:/usr/local/kong/declarative/kong.yml
   command: ["kong", "start", "--conf", "/etc/kong/kong.conf.default", "--v"]

  identity-service:
    build: ./identity-service
    container_name : "identity-service"
    ports:
      - "3001:3001"

  order-service:
    build: ./orders-service
    container_name : "order-service"
    ports:
      - "3004:3004"

  catalog-service:
    build: ./catalog-service
    ports:
      - "3002:3002"

  analytics-service:
    build: ./analytics-service
    container_name : "analytics-service"
    ports:
      - "3000:3000"

  messaging-service:
    container_name : "messaging-service"
    build: ./messaging-service
    ports:
      - "3003:3003"

  payment-service:
    container_name : "payment-service"
    build: ./payment-service
    ports:
      - "3005:3005"
