node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.git
.gitignore

dist
build
out
coverage


.env
.env.*
.env.local

logs
*.log

.cache
.tmp
temp

.vscode
.idea

Dockerfile
docker-compose.yml
compose.yml

*.md
